@page "/dataentry"

@inject NavigationManager Navigation

<h3>Data Entry</h3>

<NavigationLock ConfirmExternalNavigation="true" 
    OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

<p>
    <button @onclick="@(() => Navigation.NavigateTo("/"))">
        Home 
    </button>
    <button @onclick="@(() => Navigation.NavigateTo("/searchtodos"))">
        Search
    </button>
    <button @onclick="@(() => Navigation.NavigateTo("https://www.pluralsight.com"))">
        Learn
    </button>
</p>

<p>Enter a value</p>
<input @bind="text" />

